@import "./main.scss";

*{
    box-sizing: border-box;
    background-color: transparent;
    border : none;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

body{
    padding : 0 5.2vw;
}

.header{
    display : flex;
    justify-content: center;
    width : 100%;
    padding : 3.8vh 0;

    &_logo{
        width : 13.9vw;
        height : 8.6vh;
        object-fit: contain;
        object-position: center;
    }
}

.search{
    position : relative;
    display : flex;
    align-items: center;
    width : 100%;
    height : 6.3vh;

    &_bar{
        width : 100%;
        height : 100%;
        background-color : rgba(231, 231, 231, 1);
        border-radius : 5px;
        padding : 2vh 1.2vw;
    }

    &_icon{
        position : absolute;
        right : 0.8vw;
        font-size : 1.8vw;
    }
}

.recipes-container{
    display : flex;
    flex-wrap: wrap;
    gap : 2.6vw;
    padding-top : 5vh;

    &--null{
        width : 100%;
        padding : 1vw;
        background-color: rgba(231, 231, 231, 1);
    }

    

    .recipes{
        width : calc((100% / 3) - 2.6vw);
        min-height : 47vh;
        border-radius : 5px;
        overflow: hidden;

        &_top{
            width : 100%;
            height : 45%;
            background-color: rgba(199, 190, 190, 1);
        }

        &_bottom{
            display : flex;
            flex-direction: column;
            gap : 1vw;
            width : 100%;
            height : 55%;
            padding : 1vw;
            background-color: rgba(231, 231, 231, 1);
            overflow : hidden;

            &-title{
                display : flex;
                justify-content: space-between;
                align-items: center;

                h2{
                    font-size : 18px;
                    font-weight : 400;
                }

                &--time{
                    display : flex;
                    gap : .5vw;

                    i{
                        font-size : 1vw;
                    }
                }
            }
            &-details{
                display : flex;
                gap : 1vw;

                &--txt{
                    width : 50%;               

                    &.description{
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        height : fit-content;
                    }

                    p{
                        font-size : 12px;
                    }
                }
            }
        }
    } 
}



.section-tag{
    display : flex;
    flex-wrap : wrap; 
    gap : 2vw;
    padding : 3.8vh 0;

    .tag{
        
        display : flex;
        align-items : center;
        gap : .6vw;
        padding : .8vh 1.1vw;
        width : fit-content;
        border-radius : 5px;
        color : white;
        font-size : 18px;

        &.ingredients{
            background-color: #3282F7;
        }
        &.appareils{
            background-color: #68D9A4;
        }
        &.ustensiles{
            background-color: #ED6454;
        }
    }
}





.menu_recherche {
    display: flex;
    gap : 1vw;
    padding : 3.8vh 0;

    .bouton{ 
        position : relative;      
        
            .btn{
                display : flex;
                align-items : center;
                justify-content : space-between;
                gap : 2vw;
                min-width : 10vw;                
                padding : 2.7vh .9vw;
                border-radius : 5px;  
                cursor : pointer;
                
                &.active{
                    width : 34.7vw;
                    border-radius : 5px 5px 0 0;
                }

                &.ingredients{
                    background-color: #3282F7;
                }
                &.appareils{
                    background-color: #68D9A4;
                }
                &.ustensiles{
                    background-color: #ED6454;
                }
    
                input{
                    width : 100%;
                    font-size : 18px;
                    color : white;
                    font-weight : 700;
                    &::placeholder{
                        color : white;
                    }
                }
                

                i{
                    cursor : pointer;
                    font-size : 1rem;
                    color : white;
                    transition : .5s ease;

                    &.active{
                        transform : rotate(180deg);
                    }
                }
            }
        

        .liste{
            position : absolute;
            top : 100%;
            left : 0;
            display : none;
            flex-wrap: wrap;
            width : 34.7vw;
            max-height : 50vh;
            overflow-y: scroll;
            border-radius: 0 0 5px 5px;
            &::-webkit-scrollbar{
                width: 10px;
                border-radius : 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.351);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(6.9px);
                -webkit-backdrop-filter: blur(6.9px);
                border: 1px solid rgba(255, 255, 255, 0.08);
                border-radius: 10px;
            }

            p{
                color : white;
                padding : 2vh 1vw;
                width : calc(100%/3);
                cursor : pointer;
            }

            &.active{
                display : flex;
            }

            &.ingredients{
                background-color: #3282F7;
            }
            &.appareils{
                background-color: #68D9A4;
            }
            &.ustensiles{
                background-color: #ED6454;
            }
        }
    }
}














